<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="API Suite" parallel="methods" thread-count="2">

    <listeners>
        <listener class-name="com.sdetlabs.tests.listeners.RetryListener" />
    </listeners>

    <test name="Booking Contract Tests">
        <classes>
            <class name="com.sdetlabs.tests.booking.BookingSchemaValidationTest"/>
        </classes>
    </test>

</suite>